@model APIShare.ViewModels.SearchVM
@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        @if(Model != null)
        {
            <h2>Results for search: @Request.Params["searchQuery"]</h2>
            <div class="alert alert-success" id="response-success" style="display: none">Bookmark was added</div>
            if (Model.Libraries != null)
            {
                foreach (var library in Model.Libraries)
                {
                    <div class="search-result">
                        <button class="btn btn-sm btn-default btn-follow pull-right addBookmark" data-bookmark-id="@library.LibraryID">Add Bookmark</button>
                        <h2 style="margin-top:5px"><a href="#">@library.LibraryName</a></h2>
                        <p>@library.Description</p>
                        
                        @foreach (var tag in library.Tags)
                        {
                            <div class="tag"><a href="@String.Concat("/Search/Index?searchQuery=", tag)">@tag</a></div>
                        }
                        <div class="end-tags"></div>
                    </div>
                }
            }
            if (Model.Users != null)
            {
                foreach (var user in Model.Users)
                {
                    <div class="search-result">
                        <button class="btn btn-sm btn-default btn-follow pull-right addFollow" data-user-id="@user.UserID">
                            <b class="follow-btn-text">@user.AlreadyFollowing</b>
                        </button>
                        <h2 style="margin-top:5px"><a href="@String.Concat("/User/User?userId=", user.UserID)">@user.Username</a></h2>
                        <p>@user.Bio</p>

                        <span style="float: left; font-size:12px; padding-top:2px">Skills: </span>
                        @foreach (var tag in user.Tags)
                        {
                            <div class="tag"><a href="@String.Concat("/Search/Index?searchQuery=", tag)">@tag</a></div>
                        }
                        <div class="end-tags"></div>
                    </div>
                }
            }
        }
        else
        {
            <h1>No results were found</h1>
        }

    </div>
</div>
@section styles{
    <style>
        .search-result {
            clear: both;
            border: solid 1px;
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            margin-top: 5px;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 5px;
            width: 80%;
            min-width: 500px;
            min-height: 100px;
            background-color: aliceblue;
        }

        .tag {
            float: left;
            background-color: azure;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 1px;
            margin-left: 1px;
            margin-right: 1px;
            margin-bottom: 1px;
            color: deepskyblue;
            border: solid 1px lavender;
            border-radius: 2px;
            font-size: 11px;
        }

            .tag a {
                color: deepskyblue;
            }

            .tag a:hover {
                color: deepskyblue;
                text-decoration: none;
            }

        .end-tags {
            clear: both;
        }

        .btn-follow {
            margin-top: 5px;
        }
    </style>
}

@section scripts{
    <script>
    	$(document).ready(function(){
    	    $('.btn-follow').click(function () {
		        var bookmarkId = $(this).data('bookmark-id');
		        var button = $(this);

			    //add
			    $.ajax({
			        url: "/Bookmark/AddBookmark",
			        data: { bookmarkId: bookmarkId },
			        method: "post",
			        success: function () {
			            $('#response-success').show();
			        }
			    });

		    });

		    $('.addFollow').click(function(){
			    var userId = $(this).data('user-id');
			    var button = $(this);
			    if ($('.follow-btn-text').text() == "Follow") {       
			        $.ajax({
			            url: "/User/Follow",
			            data: { userToFollowId: userId },
			            dataType: "json",
			            method: "post",
			            success: function () {
			                button.children().text("Unfollow");
			            }
			        });
				    
			    } else {
			        $.ajax({
			            url: "/User/Unfollow",
			            method: "post",
			            data: { userToUnfollowId: userId },
			            success: function (response) {
			                if (response.Success) {
			                    button.children().text("Follow");
			                }
			            }
			        });
			    }

		    });

		    $('#search-btn').click(function () {
		        var query = $('#search-query').val();
		        if (query != "" && query != null) {
		            window.location = "/Search/Index?searchQuery=" + query;
		        }
		    });
	    });
    </script>
}