@model APIShare.ViewModels.SearchVM
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" placeholder="Search" class="form-control" id="search-query" />
            <button class="input-group-btn btn btn-default"id="search-btn"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if(Model != null)
        {
            if (Model.Libraries != null)
            {
                foreach (var library in Model.Libraries)
                {
                    <div class="search-result">
                        <button class="btn btn-sm btn-default btn-follow pull-right addRemoveBookmark" data-bookmark-id="@library.LibraryID"><span style="font-size: 16px; padding-top:3px" class="glyphicon glyphicon-star-empty" /></button>
                        <h2 style="margin-top:5px"><a href="#">@library.LibraryName</a></h2>
                        <p>@library.Description</p>

                        @foreach (var tag in library.Tags)
                        {
                            <div class="tag"><a href="@Html.Action("Search", "Search", new {tag = tag})">@tag</a></div>
                        }
                        <div class="end-tags"></div>
                    </div>
                }
            }
            if (Model.Users != null)
            {
                foreach (var user in Model.Users)
                {
                    <div class="search-result">
                        <button class="btn btn-sm btn-default btn-follow pull-right addFollow" data-user-id="@user.UserID">
                            <b class="follow-btn-text">@user.AlreadyFollowing</b>
                        </button>
                        <h2 style="margin-top:5px"><a href="#">@user.Name</a></h2>
                        <p>@user.Bio</p>

                        <span style="float: left; font-size:12px; padding-top:2px">Skills: </span>
                        @foreach (var tag in user.Tags)
                        {
                            <div class="tag"><a href="@Html.Action("Search", "Search", new {tag = tag})">tag</a></div>
                        }
                        <div class="end-tags"></div>
                    </div>
                }
            }
        }
        else
        {
            <h1>No results were found</h1>
        }

    </div>
</div>
@section styles{
    <style>
        .search-result {
            clear: both;
            border: solid 1px;
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            margin-top: 5px;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 5px;
            width: 80%;
            min-width: 500px;
            min-height: 100px;
            background-color: aliceblue;
        }

        .tag {
            float: left;
            background-color: azure;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 1px;
            margin-left: 1px;
            margin-right: 1px;
            margin-bottom: 1px;
            color: deepskyblue;
            border: solid 1px lavender;
            border-radius: 2px;
            font-size: 11px;
        }

            .tag .a {
                color: deepskyblue;
            }

            .tag a:hover {
                color: deepskyblue;
                text-decoration: none;
            }

        .end-tags {
            clear: both;
        }

        .btn-follow {
            margin-top: 5px;
        }
    </style>
}

@section scripts{
    <script>
    	$(document).ready(function(){
		    $('.addRemoveBookmark').click(function(){
			    var bookmarkId = $(this).data('bookmark-id');
			    $(this).children().toggleClass('glyphicon-star-empty glyphicon-star');
		    });

		    $('.addFollow').click(function(){
			    var userId = $(this).data('user-id');
			    
			    if($('.follow-btn-text').text() == "Follow"){
				    $(this).children().text("Unfollow");
			    } else {
				    $(this).children().text("Follow");
			    }

		    });

		    $('#search-btn').click(function () {
		        var query = $('#search-query').val();
		        if (query != "" && query != null) {
		            window.location = "/Search/Index?searchQuery=" + query;
		        }
		    });
	    });
    </script>
}