<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - API Share</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

    <style>
        .sidebar{
            z-index: 1;
            position: absolute;
            width: 250px;
            margin-top: 51px;
        }
    </style>


</head>
<body>


    @if(Session["UserID"] == null)
    {
        Response.Redirect("~/Home/LandingPage");
    }
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("API Share", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Profile", "Index", "Home")</li>
                    <li>@Html.ActionLink("Friends", "Friends", "User")</li>
                    <li>@Html.ActionLink("Discover", "Index", "Home")</li><!--NOT YET CREATED-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="input-group" style="padding-top:9px">
                            <input type="text" class="form-control" placeholder="Search..." id="nav-search" name="nav-search">
                            <div class="input-group-btn">
                                <button type="submit" id="nav-search-submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as: @Session["Username"] <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("My Profile", "Index", "Home")</li>
                            <li class="divider"></li>
                            <li><a href="#">Settings</a></li>
                            <li id="logout"><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--<div class="navbar-inverse sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse in" aria-expanded="true">
                    
                </div>
            </div>-->
        </div>
    </div>
    <div class="container body-content">

            <div class="row">
                @RenderBody()
                <!--CODE FOR SIDEBAR-->
                <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                     
                </div>
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Analytics</a></li>
                        <li><a href="#">Export</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Nav item</a></li>
                        <li><a href="">Nav item again</a></li>
                        <li><a href="">One more nav</a></li>
                        <li><a href="">Another nav item</a></li>
                        <li><a href="">More navigation</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Nav item again</a></li>
                        <li><a href="">One more nav</a></li>
                        <li><a href="">Another nav item</a></li>
                    </ul>
                </div>-->
            </div>


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - APIShare</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
    $(document).ready(function () {
        $('#nav-search-submit').click(function () {
            var query = $('#nav-search').val();
            if (query != "" && query != null) {
                window.location = "/Search/Index?searchQuery=" + query;
            } else {
                window.location = "/Search/Index";
            }

        });

        $('#logout').click(function () {
            $.ajax({
                url: "/Authentication/Logout",
                type: "POST",
                contentType: 'application/json',
                success: function () {
                    window.location = "/Home/LandingPage";
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        });
        
    });
    </script>

</body>
</html>
