<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - API Share</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .sidebar{
            z-index: 1;
            position: absolute;
            width: 250px;
            margin-top: 51px;
        }
    </style>
</head>
<body>


    @if(Session["UserID"] == null)
    {
        Response.Redirect("~/Home/LandingPage");
    }
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("API Share", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Profile", "Index", "Home")</li>
                    <li>@Html.ActionLink("Friends", "Index", "User")</li>
                    <li>@Html.ActionLink("Discover", "Index", "Home")</li><!--NOT YET CREATED-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="input-group" style="padding-top:9px">
                            <input type="text" class="form-control" placeholder="Search..." id="nav-search" name="nav-search">
                            <div class="input-group-btn">
                                <button type="submit" id="nav-search-submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as: @Session["Username"] <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("My Profile", "Index", "Home")</li>
                            <li class="divider"></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--<div class="navbar-inverse sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse in" aria-expanded="true">
                    
                </div>
            </div>-->
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - APIShare</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
