@model APIShare.ViewModels.UserVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
@if(Model != null)
{ 
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src="https://sp.yimg.com/ib/th?id=JN.LQYi3lJPDovPLiyoX5tYEQ&pid=15.1&P=0" class="img-thumbnail"/>
        </div>
        <div class="col-md-9">
            <h1>@Session["Username"]</h1>
            <p class="lead">
                @Model.Bio
            </p>
            <p>
                @foreach(var skill in Model.Skills)
                {
                    <div class="bg-info tag">
                        <!-- TODO add search link -->
                        <a href="">@skill.Tag1</a>
                    </div>
                }
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @foreach(var bookmark in Model.Bookmarks)
        {
            <div class="bookmark">
                <h3>@bookmark.Name</h3>
                <p>@bookmark.Description</p>
                @foreach (var tag in bookmark.Tags)
                {
                    <div class="tag"><a href="@Html.Display("/Search/Index?searchQuery=" + tag.Tag1)">@tag.Tag1</a></div>
                }
            </div>
        }
    </div>
</div>
}
<style>
    .tag {
            float: left;
            background-color: azure;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 1px;
            margin-left: 1px;
            margin-right: 1px;
            margin-bottom: 1px;
            color: deepskyblue;
            border: solid 1px lavender;
            border-radius: 2px;
            font-size: 11px;
        }

            .tag .a {
                color: deepskyblue;
            }

            .tag a:hover {
                color: deepskyblue;
                text-decoration: none;
            }

        .end-tags {
            clear: both;
        }
    .bookmark{
        background-color: aliceblue;
        width: inherit;
        min-height: 50px;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
</style>
<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->